*{
    box-sizing: border-box;
}


main h1 {
    border: solid 2px black;
}
form > p label {
    display: block;
}

main {
    width: 800px;
    padding: 0 2rem;
    border-left: solid 2px black;
    border-right: solid 2px black;
    margin-left: auto;
    margin-right: auto;
}
#quote blockquote {
    border: solid 1px black;
    padding: 0 0.5rem;
}
